.editor {

    width: 1600px;
    margin: 0 auto;
}

.footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
    display: flex;



}

.title {
    font-size: 20px;
    font-weight: bold;
    width: 1560px;
    margin: 20px auto;
}
