.beiAn {
    display: flex;
    background: #000;
    color: #fff;
    padding: 28px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border-top: 1px solid rgba(100, 100, 100, 0.4);

    a {
        text-decoration: none;
        color: #999;

        &:hover {
            color: #fff;
        }
    }
}
