.customerStories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    padding-bottom: 32px;
    padding-top: 4px;

    .customerStoriesContent {
        display: grid;
        width: 30%;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        justify-content: center;
        gap: 30px;
        padding: 32px 20%;


        .customerStoriesContentItem {
            display: flex;
            width: 392px;

            flex-direction: column;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 16px;


            .imgWrapper {
                width: 392px;
                overflow: hidden;

                display: inline-block;

                &:hover img {
                    transform: scale(1.08);
                }

                .img {
                    object-fit: cover;
                    width: 392px;
                    height: 180px;
                    display: block;
                    width: 100%;
                    transition: transform 0.38s ease;
                }
            }



            .footer {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 20px;
                gap: 12px;

                .title {
                    text-align: start;

                }

                .tags {
                    display: flex;

                    gap: 10px;

                    .tag {
                        filter: grayscale(1);
                        padding: 4px 12px;
                        border-radius: 16px;
                    }
                }
            }




        }
    }
}
