.topContainer {
    height: 96px;

    .header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999;
        background-color: rgba($color: #ffffff, $alpha: 0.95)
    }
}
