.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;

    .headerMenuItem {
        display: flex;


        :hover {
            cursor: pointer;
            box-shadow: 0 0 0 2px rgba(51, 106, 255, 0);
            border-bottom: 2px solid #356473;
            font-weight: bolder;
        }

        :not(:hover) {
            border-bottom: 2px solid transparent;
        }

        .link {
            display: flex;
            align-items: center;
            padding: 20px 0;
            color: #333;
            text-decoration: none;
            margin: 0 32px;
        }
    }
}
