.partners {
    padding-top: 4px;
    padding-bottom: 52px;

    .partnersContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        gap: 30px;
        padding: 32px 20%;

        .partnersContentItem {
            .partnersContentItemImg {
                object-fit: contain;
                height: 92px;
            }
        }
    }
}
